.btn {
  padding: 0.7rem;
  background: $brightBlue;
  color: $lightGrayishBlue;
  font-family: $primaryFont;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  &:hover {
    opacity: 0.7;
  }
}
