.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (min-width: $laptop) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__validation {
    font-size: 12px;
    color: red;
    display: none;
  }
  &__image {
    @media (min-width: $laptop) {
      width: 50%;
    }
  }
  &__subscription {
    font-weight: bold;
    @media (min-width: $laptop) {
      max-width: 33%;
      font-size: 1.5rem;
      text-align: left;
    }
  }
  &__paragraph {
    font-size: 15px;
    color: $veryDarkBlue;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 1rem;

    &:invalid + input {
      border: pink;
    }
    @media (min-width: $laptop) {
      flex-direction: row;
    }
  }
  &__input {
    @media (min-width: $laptop) {
      width: 100%;
    }
  }
  &__btn {
    font-family: $primaryFont;
    border: none;
    cursor: pointer;
    @media (min-width: $laptop) {
      width: 300px;
    }
  }
}

.active {
  display: block;
}
