@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

textarea {
  white-space: revert;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.tmemplate {
  padding: 0 1.5rem;
}

.btn {
  padding: 0.7rem;
  background: hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.input {
  padding: 0.7rem;
  border: 1px solid hsl(238deg, 22%, 44%);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__logo {
  width: 30%;
}
@media (min-width: 768px) {
  .menu__logo {
    width: 10%;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}
@media (min-width: 1440px) {
  .menu__list {
    grid-gap: 6rem;
  }
}
.menu__link {
  text-decoration: none;
  color: hsl(243deg, 87%, 12%);
}
@media (min-width: 1440px) {
  .menu {
    padding: 2rem;
  }
}

.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1440px) {
  .hero__image {
    width: 50%;
  }
}
.hero__subscription {
  font-weight: bold;
}
@media (min-width: 1440px) {
  .hero__subscription {
    max-width: 33%;
    font-size: 1.5rem;
    text-align: left;
  }
}
.hero__paragraph {
  font-size: 15px;
  color: hsl(243deg, 87%, 12%);
}
.hero__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 1rem;
}
@media (min-width: 1440px) {
  .hero__form {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .hero__input {
    width: 100%;
  }
}
.hero__btn {
  font-family: "Raleway", sans-serif;
  border: none;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .hero__btn {
    width: 300px;
  }
}
@media (min-width: 1440px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 2rem;
  }
}

.productive {
  position: relative;
  min-width: 100%;
  margin: 0;
  background-color: hsl(240deg, 75%, 98%);
  text-align: center;
}
.productive__waves {
  width: 100%;
  margin-bottom: -5px;
}
.productive__header {
  font-size: 18px;
}
.productive__paragraph {
  text-align: left;
  font-size: 14px;
  margin-bottom: 2rem;
}
.productive__link {
  text-align: center;
  text-decoration: none;
  color: hsl(170deg, 45%, 43%);
  font-weight: bold;
  position: relative;
}
.productive__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 117%;
  background-color: hsl(170deg, 45%, 43%);
  height: 2px;
}
.productive__link::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url("../../../images/icon-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.quotes {
  background-color: #fff;
  margin: 1rem;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.quotes__icon {
  height: 20px;
  width: 30px;
}
.quotes__img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.quotes__testimonial {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.quotes__name {
  font-size: 15px;
}
.quotes__company {
  font-size: 12px;
}

.access {
  background-color: hsl(238deg, 22%, 44%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "open Sans", sans-serif;
  padding: 4rem 5rem;
}
.access__form {
  display: flex;
  grid-gap: 0.5rem;
  flex-direction: column;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */