@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

textarea {
  white-space: revert;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.tmemplate {
  padding: 0 2rem;
}

.btn {
  padding: 0.7rem;
  background: hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.input {
  padding: 0.7rem;
  border: 1px solid hsl(238deg, 22%, 44%);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__logo {
  width: 30%;
}
@media (min-width: 768px) {
  .menu__logo {
    width: 10%;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}
@media (min-width: 1440px) {
  .menu__list {
    grid-gap: 6rem;
  }
}
.menu__link {
  text-decoration: none;
  color: hsl(243deg, 87%, 12%);
}
@media (min-width: 1440px) {
  .menu {
    padding: 2rem;
  }
}

.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1440px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 2rem;
  }
}
.hero__validation {
  font-size: 12px;
  color: red;
  display: none;
}
@media (min-width: 1440px) {
  .hero__image {
    width: 50%;
  }
}
.hero__subscription {
  font-weight: bold;
}
@media (min-width: 1440px) {
  .hero__subscription {
    max-width: 33%;
    font-size: 1.5rem;
    text-align: left;
  }
}
.hero__paragraph {
  font-size: 15px;
  color: hsl(243deg, 87%, 12%);
}
.hero__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 1rem;
}
.hero__form:invalid + input {
  border: pink;
}
@media (min-width: 1440px) {
  .hero__form {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .hero__input {
    width: 100%;
  }
}
.hero__btn {
  font-family: "Raleway", sans-serif;
  border: none;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .hero__btn {
    width: 300px;
  }
}

.active {
  display: block;
}

.productive {
  position: relative;
  min-width: 100%;
  min-height: 70vh;
  margin: 0;
  background-color: hsl(240deg, 75%, 98%);
  text-align: center;
}
@media (min-width: 768px) {
  .productive {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}
.productive__container {
  text-align: left;
}
.productive__illustration {
  width: 30%;
  height: 20%;
}
.productive__waves {
  width: 100%;
  margin-bottom: -5px;
}
@media (min-width: 1440px) {
  .productive__waves-mobile {
    display: none;
  }
}
@media (max-width: 1440px) {
  .productive__waves-desktop {
    display: none;
  }
}
.productive__header {
  font-size: 18px;
}
@media (min-width: 768px) {
  .productive__header {
    font-size: 25px;
  }
}
.productive__paragraph {
  text-align: left;
  font-size: 14px;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .productive__paragraph {
    width: 55%;
  }
}
.productive__link {
  text-align: center;
  text-decoration: none;
  color: hsl(170deg, 45%, 43%);
  font-weight: bold;
  position: relative;
}
@media (min-width: 768px) {
  .productive__link {
    text-align: left;
  }
}
.productive__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 117%;
  background-color: hsl(170deg, 45%, 43%);
  height: 2px;
}
.productive__link::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url("../../../images/icon-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.quotes {
  background-color: #fff;
  margin: 1.5rem 0;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  .quotes {
    width: 43%;
  }
}
.quotes__icon {
  height: 20px;
  width: 30px;
}
.quotes__img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.quotes__testimonial {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.quotes__name {
  font-size: 15px;
}
.quotes__company {
  font-size: 12px;
}

.access {
  background-color: hsl(238deg, 22%, 44%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "open Sans", sans-serif;
  padding: 4rem 5rem;
  font-size: 15px;
}
@media (min-width: 1440px) {
  .access {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
}
.access__validation {
  display: none;
  color: red;
}
@media (min-width: 1440px) {
  .access__paragraph {
    width: 45%;
  }
}
.access__input {
  width: 100%;
}
@media (min-width: 1440px) {
  .access__input {
    width: 80%;
  }
}
.access__btn {
  width: 100%;
}
@media (min-width: 1440px) {
  .access__btn {
    width: 40%;
  }
}
.access__form {
  display: flex;
  grid-gap: 0.5rem;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1440px) {
  .access__form {
    width: 45%;
  }
}

.active {
  display: block;
}

.footer {
  background-color: hsl(243deg, 87%, 12%);
  color: #fff;
  font-family: "open Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.footer__logo {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: flex-end;
}
@media (min-width: 1440px) {
  .footer__logo {
    grid-row: 2/3;
  }
}
.footer__about {
  grid-column: 1/-1;
  grid-row: 2/3;
}
@media (min-width: 1440px) {
  .footer__about {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.footer__phone {
  grid-column: 1/-1;
  grid-row: 3/4;
}
@media (min-width: 1440px) {
  .footer__phone {
    grid-row: 3/4;
  }
}
.footer__contact {
  grid-row: 4/5;
  grid-column: 1/-1;
}
@media (min-width: 1440px) {
  .footer__contact {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
.footer__social {
  display: flex;
  grid-gap: 1rem;
  grid-column: 2/4;
  justify-content: center;
}
@media (min-width: 1440px) {
  .footer__social {
    justify-content: flex-start;
    grid-column: 4/5;
    grid-row: 3/4;
  }
}
.footer__icon img {
  padding-right: 1rem;
}
.footer__item {
  margin-bottom: 0.5rem;
}
.footer__item-icon {
  width: 45px;
}
.footer__logo {
  fill: #fff;
}/*# sourceMappingURL=styles.css.map */